{% extends 'base.html' %}
{% block content %}

<table class="table table-sm table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            {% for k in header %}
            <th>{{k.description}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
            <tr>
                <td><a href="{% url 'day-view'  r.dt|date:'Y' r.dt|date:'m' r.dt|date:'d' %}">{{r.id}}</a></td>
                <td>{{r.dt|date:'d/m/Y'}}</td>
                <td>{{r.prefName}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}